<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CompanyData.Properties.Settings.AdventureWorksDW2008R2ConnectionString"
        connectionString="Data Source=EDITOR\SQLEXPRESS;Initial Catalog=AdventureWorksDW2008R2;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="CompanyData.Properties.Settings.htw_shopConnectionString"
        connectionString="Data Source=EDITOR\SQLEXPRESS;Initial Catalog=htw_shop;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
